.row
  .col-md-9
    %ul.list-group.action-list
      - @actions.each do |action|
        = render partial: 'user_actions/action', locals: {action: action}
  .col-md-3
    = render partial: 'user_box', locals: {user: @user}
    .row.class-box
      .col-md-12
        %ul.list-group
          - @user.classrooms.each do |classroom|
            %li.list-group-item= link_to classroom.name, url_for(classroom)
    .row.class-box
      .col-md-12
        %ul.list-group
          - @user.achievements.each do |achievement|
            %li.list-group-item= achievement.name
