.row
  .col-md-9
    %ul.list-group
      - @actions.each do |action|
        = render partial: 'user_actions/action', locals: {action: action}
  .col-md-3
    = render partial: 'user_box', locals: {user: @user}
