%nav.navbar.navbar-inverse
  .container
    .navbar-header
      =link_to "Homecrowd", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li
            =link_to "My Page", user_path(current_user)
        %li
          =link_to "Classrooms", classrooms_path
      %ul.nav.navbar-nav.navbar-right
        - if !user_signed_in?
          %li
            =link_to "Sign In", new_user_session_path
        -else 
          %li
            =link_to "Sign Out", destroy_user_session_path, method: 'delete'

