%h1.maintitle Homecrowd
.homebtn.col-md-6= link_to "<button class='btn btn-default'>Student Sign Up</button>".html_safe, '/student/sign_up'
.homebtn.col-md-6= link_to "<button class='btn btn-default'>Teacher Sign Up</button>".html_safe, '/teacher/sign_up'
