%h1 Home
= link_to "<button class='button button-primary'>Student Sign Up</button>".html_safe, '/student/sign_up'
= link_to "<button class='button button-primary'>Teacher Sign Up</button>".html_safe, '/teacher/sign_up'
