// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #fafafa;
}

.maintitle, .homebtn, .mainimg, .form{
  text-align: center;
}

.maintitle {
  font-size: 120px;
}

.form {
  font-size: 20px;
}
.submit-btn {
  margin-top: 10px;
}

.session-btn {
  margin-top: 10px;
}

.submit-btn, .session-btn {
  width: 150px;
}
