.user-box {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 7px;
  background: #fff;
  .name {
    font-weight: bold;
  }
}

.class-box {
  margin-top: 12px;
  .col-md-12 {
    padding: 0px;
  }
}

.avatar img {
  border-radius: 4px;
}
