.action-list {
  background: #fff;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.action-row {
  margin-bottom: 17px;
  border-bottom: 1px solid #eee;
}

.action-row .col-md-11 {
  padding-left: 0px;
}

.action-icon {
  text-align: center;
}

.action-time-ago {
  color: #bbb;
  font-size: .9em;
}

.glyphicon {
  top: -8px;
  left: 15px;
  background: #fff;
  padding: 3px;
  border-radius: 11px;
  border: 1px solid #ddd;
}
